<p class="text-center text-muted" *ngIf="!animais?.length">Não há animais</p>

<div class="row">
  <div class="col-4" *ngFor="let animal of animais">
    <a [routerLink]="['/animais', animal.id]">
      <app-cartao>
        <app-animal
          [url]="animal.url"
          [descricao]="animal.description"
        ></app-animal>
        <i aria-hidden="true" class="fa fa-heart-o me-2">
          <span class="ps-1">{{ animal.likes }}</span>
        </i>
        <i aria-hidden="true" class="fa fa-comment-o me-2 ms-2">
          <span class="ps-1">{{ animal.comments }}</span>
        </i>
      </app-cartao>
    </a>
  </div>
</div>
