<h4 class="text-center">Login</h4>

<form class="form mt-3" (ngSubmit)="login()" #form="ngForm">
  <div>
    <input
      type="text"
      class="form-control"
      placeholder="Nome do usuário"
      name="usuario"
      [(ngModel)]="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoUsuario.touched && campoUsuario.invalid"
      mensagem="Usuário obrigatório"
    ></app-mensagem>
  </div>

  <div class="mt-3">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      name="senha"
      [(ngModel)]="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoSenha.touched && campoSenha.invalid"
      mensagem="Senha obrigatória"
    ></app-mensagem>
  </div>

  <div class="d-grid mt-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Login
    </button>
  </div>
</form>

<div class="mt-1">
  <p>Não é um usuário? <a routerLink="novo-usuario">Cadastre-se!</a></p>
</div>
